<header>
    <nav>
        <ul>
            <li>
                <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
            </li>
            <li>
                <a routerLink="/sobre" [routerLinkActive]="['active']">Sobre</a>
            </li>
            <li>
                <a routerLink="/404" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Error</a>
            </li>
            <li>
                <a routerLink="/dashboard" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
            </li>
        </ul>
    </nav>
</header>