<section>
    <div class="about-content">
        <h2>Nossa História</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu velit quis ligula tincidunt consequat eu eu elit. Donec vel libero nec massa convallis lacinia a a nisi. </p>

        <h2>Nossa Missão</h2>
        <p>Nullam sodales nec nulla nec consectetur. Duis consectetur, elit nec rhoncus lacinia, ligula velit volutpat tortor, nec posuere nisl orci nec sapien. </p>

        <h2>Nossa Equipe</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at nisi nec nibh interdum rhoncus.</p>
    </div>
</section>