<section>
    <div class="welcome">Bem-vindo à nossa página inicial!</div>
    <div class="features">
        <div class="feature">
            <h2>Recursos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="feature">
            <h2>Design Responsivo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="feature">
            <h2>Fácil de Usar</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>
</section>