body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}
.container {
    display: grid;
    justify-items: center;  
    
}
h1 {
    font-size: 4em;
    color: #333;
}
p {
    font-size: 1.2em;
    color: #666;
}
.emoji {
    font-size: 2em;
}
a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}